{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "newss" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "newss" %}</h2>
{% if news.count > 0 %}
<div class="row">
	<table id="myTable" style="width:100%">
		<thead>
			<tr>
				<th></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in news %}
			<tr>
				<td>
					<div class="card">
						<div class="card-header">
							<h5>{{ n.title }}</h5>
						</div>
						<div class="card-body">					
							<div class="row">
								<div class="col-md-8">
									<p>{{ n.details }}</p>
								</div>								
								<div class="col-md-4">
									{% if n.photo.url != None %}
										<img style="width:100%; max-width:400px;" src="{{ n.photo.url}}" alt="{{ n.title }}" title="{{ n.details }}">
									{% endif %}
								</div>
							</div>
						</div>
						<div class="card-footer text-muted">
							<p><strong>{{ n.daten | date:"d.m.Y H:i" }}</strong><p>
						</div>
					</div>
				</td>	
			</tr>
			{% endfor %}	
		</tbody>
	</table>	
</div>
{% endif %}
{% endblock content %}

