{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "news" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ news.title }}</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>{{ news.details }}</p>
				</div>
				<div class="col-md-4">
					{% if news.photo.url != None %}
						<img style="width:100%; max-width:512px; padding:10px" src="{{ news.photo.url}}" alt="{{ news.title }}">					
					{% endif %}	
				</div>
			</div>				
		</div>
		<div class="card-footer">				
			<p>{{ news.daten }}</p>			
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'news_index' %}">{% trans "Back" %}</a>    	
</div>

{% endblock content %}