{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "person" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4>{{ person.user.first_name }} {{ person.user.last_name }}</h4>			
		</div>
		<div class="card-body">
			<p>{% trans "address" %}: {{ person.address }}</p>						
			<p>{% trans "phone" %}: {{ person.phone }}</p>								
		</div>
		<div class="card-footer">
			<p>{% trans "user" %}: {{ person.user  }}</p>					
			<p>{{ person.user.email  }}</p>					
		</div>				
	</div>	
	<br>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'person_index' %}">{% trans "Back" %}</a>    	
</div>

{% endblock content %}